{% include 'admin_template/pages/landing/tables/table_header.html' %}

<div class="content-wrapper">
  <div class="content">
    <div class="table-responsive">

      

      <div class="table-wrapper">


        <div class="cosmos-title">
          <div class="row">
              <div class="col">
                  <h2>ACL permanente - COSMOS</h2>
              </div>
              <div class="col">
                  <div class="input-group">
                    <input type="text" id="myInput" onkeyup="myFunction()" class="form-control" placeholder="Search for names..">

                      {% comment %} <input type="text" id="myInput onkeyup="myFunction()"  class="form-control" placeholder="Search..."> {% endcomment %}
                  </div>
              </div>

              <div class="col">
                <a href="#addEmployeeModal" class="btn btn-primary" data-toggle="modal"><i class="fa fa-plus"></i> <span>Agregar personal</span></a>              
            </div>
          </div>
      </div>
      

        <div class="table-container" style="max-height: 400px; overflow-y: auto;">
          <table class="table table-striped table-hover" id="myTable">
            <thead>
              <tr>
                {% comment %} <th>
                    <span class="custom-checkbox">
                    <input type="checkbox" id="selectAll"> 
                    <label for="selectAll"></label>
                  </span>
                </th> {% endcomment %}

                <th>Nombre</th>
                <th>Apellido</th>
                <th>Cédula</th>
                <th>Cliente</th>
                <th>Email</th>
                <th>Autorizador</th>
                <th>Acceso</th>
                <th>Editar</th>
                <th>Borrar</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Alguien</td>
                <td>Apellido Alguien</td> 
                <td>402</td>
                <td>NAP Del Caribe</td>
                <td>algo@napdelcaribe.com.do</td>
                <td>Jairol Grullon</td>
                <td>X</td>
                <td>
                  <a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="fa fa-pencil" data-toggle="tooltip" title="Edit"></i></a>
                </td>
                <td>
                  <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="fa fa-trash-o" data-toggle="tooltip" title="Delete"></i></a>
                </td>
              </tr>
       
            </tbody>
          </table>
  
        </div>
      </div>
    </div>        
  </div>

  

  {% include 'admin_template/pages/landing/tables/Modal_Tables/modal_acl_permanent.html' %}

  <script>
    function myFunction() {
      // Declare variables
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
    
      // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[1];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
    </script>
    
