{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="{% url 'Dashboard' %}" class="brand-link">
    <img src="{% static 'AdminLTE/img/naplogo.png' %}" class="brand-image img-square elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">Service Center</span>
  </a>


  <div class="sidebar">

    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <li class="nav-header">Control de clientes</li>

        <li class="nav-item">
          <a href="{% url 'ClientContact' %}" class="nav-link">
            <i class="nav-icon fa fa-address-book"></i>
            <p style="color: white;">Contacto de clientes</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'ClientList' %}" class="nav-link">
            <i class="nav-icon fa fa-university"></i>
            <p style="color: white;">Listado de clientes</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'ServiceOrder' %}" class="nav-link">
            <i class="nav-icon fa fa-magic"></i>
            <p style="color: white;">Orden de servicios</p>
          </a>
        </li>

        <li class="nav-header">Formularios</li>
        <li class="nav-item">
          <a href="{% url 'FormACL' %}" class="nav-link">
            <i class="fa fa-eye nav-icon"></i>
            <p style="color: white;">ACL</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'Implementaciones' %}" class="nav-link">
            <i class="fa fa-sellsy nav-icon"></i>
            <p style="color: white;">Implementaciones</p>
          </a>
        </li>

        <li class="nav-header">Avanzado</li>
        <li class="nav-item">
          <a href="{% url 'admin:index' %}" class="nav-link">
            <i class="fa fa-cog nav-icon"></i>
            <p style="color:white;">Configuraciones</p>
          </a>          
        </li>

      </ul>
    </nav>
  </div>
</aside>