<!DOCTYPE html>
<html lang="en">
  {% include 'header.html' %}

<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
  <!-- Navbar -->
  {% include 'admin_template/constructor/navbar.html' %}


  <!-- Main Sidebar Container -->
  {% include 'admin_template/constructor/sidebar.html' %}


  <!-- Content Wrapper. Contains page content -->
  {% include 'admin_template/pages/landing/content/c_input.html' %}
  </div>
  <!-- /.content-wrapper -->

  {% include 'footer.html' %}

</div>
</body>
</html>
