{% load static %}
<!-- Navbar -->
<nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
    <div class="container">
      <a href="#" class="navbar-brand">
        <img src="{% static 'AdminLTE/img/naplogo.png' %}" alt="AdminLTE Logo" class="brand-image img-scuare elevation-3" style="opacity: .8">
      </a>
      <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse order-3" id="navbarCollapse">
       
    
      {% include 'resources_old/left_navbar_links.html' %}
  

      </div>
      <!-- Right navbar links -->
      {% comment %} <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
        <li class="nav-item">
          <a href="" class="nav-link">Contactos</a>
        </li>
      </ul>
      <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
        <li class="nav-item">
          <a href="" class="nav-link">Nosotros</a>
        </li>
      </ul> {% endcomment %}
    </div>
  </nav>
